Data Analysis/1_Data/Plot_Design/Schema/schema_JE_bexis6.xsd

<?xml version="1.0"?>
<!--
The Jena Experiment Information System is
Developed by the Central Data Management of The Jena Experiment
http://www.the-jena-experiment.de/
Version 1.0a (23.06.2020)
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.w3schools.com"
	xmlns:bgc="https://www.w3schools.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://www.w3schools.com" elementFormDefault="qualified" xml:lang="en">
	<!-- ========================================================================= -->

	<!-- ========================================================================= -->
	<xsd:element name="metaProfile" type="metaProfileType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[This is the schema for metadata of the Jena Experiment funded by the DFG.]]>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="metaProfileType">
		<xsd:sequence>
			<xsd:element name="general" type="generalType" />
			<xsd:element name="authorship" type="contactsType" />
			<xsd:element name="methods" type="methodologyType" />
      <xsd:element name="treatments" type="treatmentsType" />
			<xsd:element name="weeding" type="weedingType" />
			<xsd:element name="keywords" type="keywordType" />
			<xsd:element name="coverage" type="coverageType" />
			<xsd:element name="dataStatus" type="dataStatusType" />


		</xsd:sequence>
	</xsd:complexType>

	<!-- =========================== generalType declarations ==================== -->
	<xsd:complexType name="generalType">
		<xsd:sequence>
			<!-- =========================== general info ==================== -->
      <xsd:element name="title" type="stringNotEmptyShort" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Title of the dataset well describing the data (<b>what, where, when</b>). <br><u>Example 1</u>: <i>Soil texture from Main Experiment_year 2002</i><br><br>Assembled datasets that are part of a paper use the following style: short description of data + experiment + years + “used in:” + Family name of author (journal, year).<br><u>Example 2</u>: <i>Biomass data from the main plots (2002-2011) used in: Weisser et al Basic and Applied Ecology 2017</i>]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="abstract" type="stringNotEmptyLong" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[General short description of the dataset including:<ul><li>(i) motivation and background, description of the study, analysis</li><li>(ii) experiment and timeframe</li><li>(iii) kind of data (e.g. species occurrence, OTUs, trait data)</li><li>(iv) funding resources.</li></ul>Do not use abbreviations and do not include references to publications or methods.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

      <xsd:element name="synthesis" type="booleanYesNo" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[If the data is synthesis data which containing assembled data, choose YES, otherwise NO.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

			<xsd:element name="experiment" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Main" />
            <xsd:enumeration value="Trait" />
            <xsd:enumeration value="dBEF" />
            <xsd:enumeration value="Ecotron" />
            <xsd:enumeration value="Mono_old" />
            <xsd:enumeration value="Mono_dBEF" />
            <xsd:enumeration value="Greenhouse" />
            <xsd:enumeration value="Other-specify" />
            <xsd:enumeration value="None" />
          </xsd:restriction>
        </xsd:simpleType>
			</xsd:element>
			<xsd:element name="OtherExperimentSpecify"
									type="stringEmptyShort"
									minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specify if not in the list, e.g. dom, rep, mono_new, mono_invasion, single_species_experiment2005-2007, shadow_experiment_2008-2010, reference_plots, small…</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

	<!-- ===========================DOI ==================== -->
			<xsd:element name="doi" type="stringEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[DOI (Digital Object Identifier) of the dataset. If your data has been published already, give citation and doi here.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- real time stamp with seconds? internally generated-->
			<xsd:element name="datasetID" type="positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Identifier of the dataset, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="versionID" type="positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Version of the dataset, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="registrationDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Entry date of the metadata, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="metadataLastModificationDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Date on which the metadata was last modified, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataCreationDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Date on which the data was first uploaded, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="dataLastModificationDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<![CDATA[Date on which the data was last modified, internally generated.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =========================== Contacts declarations ==================== -->
	<xsd:complexType name="contactsType">
		<xsd:sequence>

			<xsd:element name="metadataCreator" type="stringNotEmptyShort" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The person describing and uploading the dataset.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="dataCreator" type="stringNotEmptyShort" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Main researcher(s) involved in producing the data.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="dataCollector" type="stringNotEmptyShort" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Person(s) responsible for gathering/collecting data under the guidelines of the data creator or PI. The collector and creator can be the same person.<br>]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ProjectLeader" type="stringNotEmptyShort" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Person responsible for the dataset (long-term) - usually the PI of the project.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProjectLeaderEmail" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The email address of the main project leader.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType >
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="150" />
						<xsd:pattern value=".+@.+" />
						<!--^[\w!#$%&'*+\-/=?\^_`{|}~]+(\.[\w!#$%&'*+\-/=?\^_`{|}~]+)*@((([\-\w]+\.)+[a-zA-Z]{2,4})|(([0-9]{1,3}\.){3}[0-9]{1,3}))$-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="contactPerson" type="contactType">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The person managing and granting access to the dataset. In general, the contact person is the PI of the project or a person designated by the PI.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="institute" type="instituteType">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The institute of the data owner(s)]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="authorshipContribution" type="stringNotEmptyLong" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[<u>General description of who contrubiting to which variables from which year, especially the project leader should be mentioned here.</u>
						<b>e.g. A,K., M.K., K.N. contributed to biomass data; C.B. and A.J. contributed to the LAI data; A.K., M.K. and C.B. contributed to the data from 2009-2013; K.N. and A.J. contributed to the data from 2014-2017; J.F. contributed to the synthesis of all the data.</b><br>
						<u>For those who did important field and lab work, detailed contribution to the sampling and lab work can also be mentioned here.</u>
						<b>e.g. M.K. contributed to the field sampling in year 2013; F.G. contributed to sample preparation and dissolved nitrogen measurement in the lab.</b>
						]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<!-- ========== generalType/instituteType  -->
	<xsd:complexType name="instituteType">
		<xsd:sequence>
			<xsd:element name="instituteName" type="stringNotEmptyShort" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The institute of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		<!-- ========== generalType/contactType  -->
	<xsd:complexType name="contactType">
		<xsd:sequence>
			<xsd:element name="name"  type="stringNotEmptyShort">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Name of the contact person for the dataset.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="email" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The email address of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType >
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="150" />
						<xsd:pattern value=".+@.+" />
						<!--^[\w!#$%&'*+\-/=?\^_`{|}~]+(\.[\w!#$%&'*+\-/=?\^_`{|}~]+)*@((([\-\w]+\.)+[a-zA-Z]{2,4})|(([0-9]{1,3}\.){3}[0-9]{1,3}))$-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="street" type="stringNotEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The street of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postalCode" type="stringNotEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The postal code of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="city" type="stringNotEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The city of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="country" type="stringNotEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The country of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="stringEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The phone number of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mobile" type="stringEmptyShort" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The mobile phone number of the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="url" type="stringNotEmptyLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The web page of the contact person, the project or the contact person.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

  <!-- =========================== Methods declarations ==================== -->

	<xsd:complexType name="methodologyType">
		<xsd:sequence>
			<xsd:element name="measurements" minOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="samplingDesign"  type="stringEmptyLong" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Detailed description of the sampling design (e.g. study plots, soil cores, or devices) and the number of samples taken at each plot.<br>Furthermore, a detailed description of the sampling methods (e.g. size of the soil core) is provided.]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="samplePreparation"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Description of the further preparation of samples before analysis (e.g. dry biomass, ground soils, freeze samples).]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="sampleAnalysis"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Description of all measurements in the field or lab (e.g. pH, sequencing, trait measurements, soil analysis).]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="equipment"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Equipment used for sample collection, measurements, and analysis (including calibration method of equipment).]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="dataProcessing">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Description of the analytical and statistical analysis of the data.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dataPreparation"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Steps of pre-processing of raw data before data analysis (e.g. data fusion, data cleaning).]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="dataAnalysis"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Description of the data analyis (e.g. statistical methods, indices, programs used).]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="references">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="literatureReferences"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[List of references mentioned in the methods section. <br>Citation sample: First author et al. (year). Title. Journal. DOI.]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="dataReferences"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[List of datasets referred to in the method section.]]></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="importantNotes" type="stringEmptyLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Very important information concerning the use of the primary data.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


  <!-- =========================== Weeding declarations ==================== -->
	<xsd:complexType name="weedingType">
		<xsd:sequence>
			<xsd:element name="weedingInformation" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The coordination team try to weed the field site three times a year to maintain sown species composition.
						However due to weather or other situation, some blocks may only weeded once/twice or not at all.</br>
						The weeding situation is tried to keep the same for each blcok, but still it will influence the data that you collected. So it's important to mention the weeding situation here.</br>
						<b>Please select the weeding situation for each year in your data; Here autocomplete is activated after you entering 3 characters in the "year" and select your year from the drop down</b></br>
						If you have multiple years in your data, you can click "+" to add new year weeding situation]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="year"  type="stringEmptyShort" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Sampling year; Here autocomplete is activated after 3 characters; After you enter 3 characters, please select the year that is automately shown up in the drop down. Then there will be autocomplete content in the following weeding situation.
									<br><b>If your data are not related to weeding, e.g. photos, vedios etc. you can enter "not" in the "year" and select "not related to weeding" from drop down, then there will be autocomplete contents.</b>]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="weeding_Block1" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
									<b>Please select the weeding situation for each year of your data;</b></br>
									<u>weeded0: not weeded;</u></br>
									<u>weeded once: weeded once per year;</u></br>
									<u>weeded twice: weeded twice per year;</u></br>
									<u>weeded three times: weeded three times per year</u>]]>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="weeded0" />
									<xsd:enumeration value="weeded once" />
									<xsd:enumeration value="weeded twice" />
									<xsd:enumeration value="weeded three times" />
									<xsd:enumeration value="Other" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="weeding_Block2" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
									<b>Please select the weeding situation for each year of your data;</b></br>
									<u>weeded0: not weeded;</u></br>
									<u>weeded once: weeded once per year;</u></br>
									<u>weeded twice: weeded twice per year;</u></br>
									<u>weeded three times: weeded three times per year</u>]]>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="weeded0" />
									<xsd:enumeration value="weeded once" />
									<xsd:enumeration value="weeded twice" />
									<xsd:enumeration value="weeded three times" />
									<xsd:enumeration value="Other" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="weeding_Block3" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
									<b>Please select the weeding situation for each year of your data;</b></br>
									<u>weeded0: not weeded;</u></br>
									<u>weeded once: weeded once per year;</u></br>
									<u>weeded twice: weeded twice per year;</u></br>
									<u>weeded three times: weeded three times per year</u>]]>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="weeded0" />
									<xsd:enumeration value="weeded once" />
									<xsd:enumeration value="weeded twice" />
									<xsd:enumeration value="weeded three times" />
									<xsd:enumeration value="Other" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="weeding_Block4" minOccurs="1" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
									<b>Please select the weeding situation for each year of your data;</b></br>
									<u>weeded0: not weeded;</u></br>
									<u>weeded once: weeded once per year;</u></br>
									<u>weeded twice: weeded twice per year;</u></br>
									<u>weeded three times: weeded three times per year</u>]]>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="weeded0" />
									<xsd:enumeration value="weeded once" />
									<xsd:enumeration value="weeded twice" />
									<xsd:enumeration value="weeded three times" />
									<xsd:enumeration value="Other" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="otherWeedingNotes"  type="stringEmptyLong" minOccurs="0" >
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[describe the other weeding important note that related to your data quality, </br><b>e.g. Block 1 just weeded before your sampling time but not other blocks</b>]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ==================== keywordType declarations ============================= -->
	<xsd:complexType name="keywordType">
		<xsd:sequence>
			<xsd:element name="environmentalDescriptors">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[List of environmental descriptions to characterize the observations in the dataset (Other-specify =  no appropriate descriptor listed, none = dataset can not be assigned to an environmental descriptor, e.g. R script).]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="environmentalDescriptor" minOccurs="1" maxOccurs="unbounded">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Soil" />
									<xsd:enumeration value="Climate" />
									<xsd:enumeration value="Habitat structure" />
									<xsd:enumeration value="Spatial" />
									<xsd:enumeration value="Other-specify" />
									<xsd:enumeration value="None" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="other-Specify"
												type="stringEmptyShort"
												minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Specify if not in the list</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="processesAndServices">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Selection of ecosystem process and service classes covered by the dataset (Other-specify = appropriate process or service is not predefined, none = dataset describes no ecosystem process or service).]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processAndService" minOccurs="1" maxOccurs="unbounded">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Productivity" />
									<xsd:enumeration value="Decomposition" />
									<xsd:enumeration value="Biogeochemical cycle - Water" />
									<xsd:enumeration value="Biogeochemical cycle - Carbon" />
									<xsd:enumeration value="Biogeochemical cycle - Nitrogen" />
									<xsd:enumeration value="Biogeochemical cycle - Other nutrients" />
									<xsd:enumeration value="Ecological process - Herbivory" />
									<xsd:enumeration value="Ecological process - Soil aggregation" />
									<xsd:enumeration value="Ecological process - Mycorrhization" />
									<xsd:enumeration value="Ecological process - Pollination" />
									<xsd:enumeration value="Ecological process - Predation/Parasitism" />
									<xsd:enumeration value="Ecological process - Dispersal" />
									<xsd:enumeration value="Function/Service - Pest control" />
									<xsd:enumeration value="Function/Service - Aesthetic" />
									<xsd:enumeration value="Other-specify" />
									<xsd:enumeration value="None" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="other-Specify"
												type="stringEmptyShort"
												minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Specify if not in the list</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bioticDataTypes">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Selection of biotic data types (Other-specify = biotic data type is not listed, none = no biotic data in the dataset).]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bioticDataType"  minOccurs="1" maxOccurs="unbounded" >
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Single species" />
									<xsd:enumeration value="Multiple species" />
									<xsd:enumeration value="Abundance" />
									<xsd:enumeration value="Total abundance" />
									<xsd:enumeration value="Presence/Absence" />
									<xsd:enumeration value="Aggregated diversity" />
									<xsd:enumeration value="Demographic" />
									<xsd:enumeration value="Morphological" />
									<xsd:enumeration value="Chemical" />
									<xsd:enumeration value="Genetic" />
									<xsd:enumeration value="Other-specify" />
									<xsd:enumeration value="None" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="other-Specify"
												type="stringEmptyShort"
												minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Specify if not in the list</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

      <xsd:element name="relativePositionToGround" >
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[Location of the observations - below or/and above ground.]]>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="aboveGround"  type="booleanYesNo"  />
            <xsd:element name="belowGround"  type="booleanYesNo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

			<xsd:element name="additionalKeywords" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Further keywords describing the dataset.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="keyword" type="stringNotEmptyShort" maxOccurs="unbounded" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

  <!-- ================================================================================= -->
	<!-- =========================== treatmentType declarations =========================== -->

  <xsd:complexType name="treatmentsType">
    <xsd:sequence>

      <xsd:element name="phytometers">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The substitutive design of the Jena Experiment does not allow to follow individual species through
						the diversity gradient. As an approach to investigate species specific effects phytometers have been
						employed. I.e. individuals of a selected species have been planted into the existing communities of
						differing diversity. A range of different species have been planted over the years but are not differentiated in the coding of this treatment.]]>
					</xsd:documentation>
				</xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="phyto0" />
            <xsd:enumeration value="phyto1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

			<xsd:element name="Mowing" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[As a standard management procedure the field site of the Jena-Experiment is mown twice a year as is typical for German grasslands.
						In some subplots mowing frequency has been manipulated (2006-2009). Weigelt et al. 2009; mown0, mown1, mown2, mown4 represent not mown, mown once, twice, and four times a year respectivly]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="mown0" />
						<xsd:enumeration value="mown1" />
						<xsd:enumeration value="mown2" />
						<xsd:enumeration value="mown4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="SeedAddition" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[In this treatment all species were resown in 2005 in small subplots as part of the invasionexperiment by Christiane Roscher]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="seed0" />
						<xsd:enumeration value="seed1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Fertilizing" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[The field site is not fertilized except
						in a "management experiment" (2006-2009) Weigelt et al. 2009, Vogel et al.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="fert0" />
						<xsd:enumeration value="fert100" />
						<xsd:enumeration value="fert200" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Drought" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[An experiment was conducted between 2008 and 2012 to test for the effects of drought on plant community, Vogel et al.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="roof0" />
						<xsd:enumeration value="roof1" />
						<xsd:enumeration value="roof2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="AbovegroundPesticide" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[To test for the effects of aboveground invertebrates their numbers were reduced by spraying pesticide from 2003 to 2009]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="agspray0" />
						<xsd:enumeration value="agspray1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="BelowgroundPesticide" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[To test for the effects of belowground invertebrates their numbers were reduced by applying a belowground pesticide from 2003 to 2009]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="bgspray0" />
						<xsd:enumeration value="bgspray1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Molluscicide" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[To test for the effects of molluscs their numbers here reduced by applying molluscicide from 2005 to 2009]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="molgrain0" />
						<xsd:enumeration value="molgrain1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Nematicide" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[To test for the effects of nematodes their numbers were reduced by applying a nematicide from 2005 to 2009]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="nemgrain0" />
						<xsd:enumeration value="nemgrain1" />
						<xsd:enumeration value="nemgrainC" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="EarthwormExclosures" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Earthworm densities are manipulated since Sep 2003 in two trenched (to 15cm bg and 20 cm ag) subplots of 1x1m]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ewex0" />
						<xsd:enumeration value="ewex1" />
						<xsd:enumeration value="ewex2" />
						<xsd:enumeration value="ewexC" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Special" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[in case other treatments have been applied than those coded individually above they are coded here
						<b>special0: no additional treatment applied;
							special1: any treatment that is not coded above(what treatment was applied should be specified in the following "Other treatments" field)</b>]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="special0" />
						<xsd:enumeration value="special1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

      <xsd:element name="otherTreatments" type="stringEmptyShort" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[if your data contain other treatments which are not shown above, you should enter the treatments here]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- ================================================================================= -->
	<!-- =========================== coverageType declarations =========================== -->
	<xsd:complexType name="coverageType">
		<xsd:sequence>
			<xsd:element name="temporalCoverage">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Time period covered by the dataset.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="startDate" type="xsd:date">
							<!--later change to dateTime-->
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[Start date of the time period covered by the dataset.]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="endDate" type="xsd:date">
							<!--later change to dateTime-->
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[End date of the time period covered by the dataset.]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

      <xsd:element name="layerCoverage">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[Location of the observations - below or/and above ground.]]>
          </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="layerStart" type="stringNotEmptyShort" minOccurs="0">
              <!--later change to dateTime-->
              <xsd:annotation>
                <xsd:documentation>
                  <![CDATA[Start layer of the observations covered by the dataset, e.g. 5 cm aboveground.]]>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="layerEnd" type="stringNotEmptyShort" minOccurs="0">
              <!--later change to dateTime-->
              <xsd:annotation>
                <xsd:documentation>
                  <![CDATA[End layer of the observations covered by the dataset, e.g. 60 cm belowground.]]>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="dataLevel" minOccurs="1" maxOccurs="unbounded">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Species level" />
            <xsd:enumeration value="Plot level" />
						<xsd:enumeration value="other-Specify" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
			<xsd:element name="other-Specify"
									type="stringEmptyShort"
									minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specify if not in the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="taxonomicCoverage" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Taxonomic groups investigated in this dataset.]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taxon" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[The taxa covered by the dataset.]]>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Plants" />
                  <xsd:enumeration value="Microbes" />
                  <xsd:enumeration value="Fungi" />
									<xsd:enumeration value="Animals - Vertebrates" />
									<xsd:enumeration value="Animals - Invertebrates" />
									<xsd:enumeration value="None" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ================================================================================= -->
	<!-- =========================== dataType declarations =============================== -->
  <xsd:complexType name="dataStatusType">
		<xsd:sequence>
			<xsd:element name="dataStatus" type="qualityType">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[Status of data processing. <ul><li>Raw = original data without any processing</li><li>Processed = data was processed (e.g., validated, aggregated, classified)</li><li>Assembled data = data is originally part of several datasets</li></ul>]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="primaryData" type="primaryDataType">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[data type<ul><li>Tabular supported formats: (*.xlsm) (*.xlsx) (*.txt) (*.csv) (*.tsv) </li><li>File supported formats: (*.avi) (*.bmp) (*.csv) (*.dbf) (*.doc) (*.docx) (*.gif) (*.jpg) (*.jpeg) (*.mp3) (*.mp4) (*.pdf) (*.png) (*.shp) (*.shx) (*.tif) (*.txt) (*.xls) (*.xlsm) (*.xlsx) (*.xsd) (*.zip) </li></ul>]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- dataType -->
	<!-- ==========  -->
	<!-- ==========  dataType/fileType -->

	<!-- ==========  dataType/qualtiyType-->
	<xsd:simpleType name="qualityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Raw"/>
			<xsd:enumeration value="Processed"/>
			<xsd:enumeration value="Assembled"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="primaryDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tabular"/>
			<xsd:enumeration value="File"/>
		</xsd:restriction>
	</xsd:simpleType>



	<!-- =====Base Types =====  -->

	<xsd:simpleType name="stringEmptyShort">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="250" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringNotEmptyShort">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="250" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringEmptyLong">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="10000" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringNotEmptyLong">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="10000" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="booleanYesNo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No" />
			<xsd:enumeration value="Yes" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="positiveInteger">
		<xsd:simpleContent>
			<xsd:extension base="xsd:unsignedInt">
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


</xsd:schema>
